name: release-please

on:
  push:
    branches: ["main"]

permissions: {}

jobs:
  release-please:
    if: github.repository_owner == 'jpreprocess'
    permissions: {}
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ vars.JPREPROCESS_RELEASE_APP_ID }}
          private-key: ${{ secrets.JPREPROCESS_RELEASE_APP_KEY }}
          # Limit token permissions to only what's needed for release-please
          permission-contents: write      # Needed for creating releases, tags, and updating manifest/config files
          permission-pull-requests: write # Needed for creating/updating release PRs
          permission-issues: write        # Needed for creating labels
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release-please
        with:
          token: ${{ steps.generate_token.outputs.token }}
          config-file: .release-please/release-please-config.json
          manifest-file: .release-please/.release-please-manifest.json
          skip-github-pull-request: ${{ startsWith(github.event.head_commit.message, 'release:') && github.event.head_commit.author.name == format('{0}[bot]', steps.generate_token.outputs.app-slug) }}

  publish:
    needs: release-please
    if: ${{ fromJSON(needs.release-please.outputs.releases_created) }}
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/publish.yml
